* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 80px;
    background-color: #ffffff;
    color: #000000;
    padding: 1rem 2rem;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

header .logo img {
    height: 60px;
}

/* Menu celular */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0.5rem;
}

.menu-toggle span {
    width: 25px;
    height: 2px;
    background: #000;
    margin: 3px 0;
    transition: 0.3s;
}

.menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 1rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #5fb479;
    border: 10px solid transparent;
    border-radius: 600px;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
    white-space: nowrap;
}

nav ul li .parceiro {
    background-color: #F2B700;
}

nav ul li a:hover {
    background-color: #000000;
    transform: scale(1.05);
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        min-height: 80px;
        padding: 1rem;
    }

    .logo {
        margin-bottom: 1rem;
    }

    .nav-menu {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-menu.active {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 1rem;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        padding: 0.75rem 1.5rem;
    }
}

nav ul li .parceiro {
    background-color: #F2B700;
}

nav ul li a:hover {
    background-color: #000000;
    transform: scale(1.05);
}


/* Estilos para telas menores */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0);

    }

    .logo {
        margin-bottom: 1rem;
    }

    .nav-menu {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-menu.active {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul li a {
        padding: 0.75rem 1.5rem;
    }
}

nav ul li .parceiro {
    background-color: #F2B700;
}

nav ul li a:hover {
    background-color: #000000;
    transform: scale(1.05);
}

.banner {
    background-image: url('/imagens/psItalia.png');
    background-size: cover;
    background-position: center;
    height: 900px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}


@media (max-width: 768px) {
    .banner {
        height: 50vh;
        padding: 0;
        text-align: center;
        justify-content: center;
    }

    .banner-text,
    .contato-buttom {
        display: none;
    }

    .company-name {

        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        color: white;
        font-family: 'Courier New', monospace;
    }

    .info-card {
        display: block;
        position: static;
        width: 80%;
        max-width: 240px;
        margin: 1rem auto;
        border-radius: 100px;
        padding: 0.5rem;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
        background-color: white;
        height: 160px;
        width: 160px;
        margin-bottom: 30px;
    }

    .card-photo {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .info-card h3 {
        margin: 0.25rem 0;
        font-size: 1rem;
    }

    .info-card p {
        margin: 0.25rem 0;
        font-size: 0.85rem;
    }

    .iconBanner {
        font-size: 24px;
        color: #38ad4a;
    }
}

/* Estilos para telas maiores */
@media (min-width: 769px) {
    .info-card {
        background: #ffffff;
        padding: 2rem;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        height: 330px;
        width: 330px;
        text-align: center;
        color: rgb(0, 0, 0);
        border-radius: 30px;
        position: absolute;
        right: 5rem;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 1000px;
    }

    .card-photo {
        width: 100px;
        height: 100px;
    }

    .info-card h3 {
        margin: 1rem 0;
        font-size: 2rem;
    }

    .info-card p {
        margin: 1rem 0;
        font-size: 1.25rem;
    }

    .iconBanner {
        font-size: 40px;
        color: #38ad4a;
    }
}

.company-name {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    color: white;
    font-family: 'Courier New', monospace;
}

.flags {
    display: flex;
    flex-direction: column;
}

.flag-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.flag-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.flag-item h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #ffffff;
}

.banner-text {
    font-size: 1rem;
    max-width: 500px;
    margin: 0;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    line-height: 60px;
    font-family: 'Courier New', monospace;
}

.contato-buttom {
    margin-top: 70px;
}

.contato-buttom a {
    display: inline-block;
    background-color: #F2B700;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.contato-buttom a:hover {
    background-color: #000000;
    transform: scale(1.05);
}

.contato-buttom p {
    margin: 0;
    font-size: 1rem;
}

.sobre-nos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    background-color: white;
    padding: 2rem;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.sobre-nos .foto-colaboradores {
    flex: 1;
    margin-right: 2rem;
    min-width: 300px;
}

.sobre-nos .foto-colaboradores img {
    max-width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 100000000px;
    box-shadow: 0 15px 40px black;
}

.sobre-nos .texto-sobre-nos {
    flex: 1;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

.texto-sobre-nos {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    line-height: 1.6;
}

.texto-sobre-nos p {
    margin-bottom: 1em;
    text-align: justify;
}

.sobre-nos h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: black;
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
    .sobre-nos {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem;
    }

    .sobre-nos .foto-colaboradores {
        margin-right: 0;
        margin-bottom: 1rem;
        max-width: 100%;
    }

    .sobre-nos .texto-sobre-nos {
        margin-right: 0;
        max-width: 100%;
    }
}

.topicos {
    padding: 10rem;
    background-image: url('/imagens/EspanhaPaisagem.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: auto;
    min-height: 900px;
    align-content: center;
}

.topicos h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1.5rem;
}

.topicos .topicos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: flex-start;
}

.topicos .topico {
    display: flex;
    align-items: center;
    background-color: #f6e5b1;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
    margin: 0 0 1rem 0;
    transition: width 0.3s ease;

}

.topicos .topico i {
    font-size: 2rem;
    color: #000000;
    margin-right: 1rem;
}

.topicos .topico p {
    margin: 0;
    font-size: 1rem;
    color: #000000;
}

@media (max-width: 768px) {
    .topicos {
        padding: 1rem;
    }

    .topicos .topico {
        width: 100%;
        margin: 0 0 1rem 0;
    }
}


.colaboradores {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    margin: 2rem 0;
    height: 960px;
}

.logo-container {
    margin-top: 100px;
}

.colaboradores h2 {
    color: #000000;
    margin-bottom: 1rem;
    margin-top: 10px;
}

.colaboradores .logo-empresa {
    width: 200px;
    height: 200px;
    margin-bottom: 3rem;
    box-shadow: 0 15px 40px black;
    border-radius: 100px;
}

.colaboradores .colaborador {
    display: inline-block;
    width: 22%;
    margin: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.10);
}

.colaboradores .colaborador img {
    width: 150px;
    height: 150px;
    border-radius: 40%;
}

.colaboradores .whatsapp-icon {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #00a43c;
}

.relatos {
    padding: 2rem;
    background-color: #ffffff;
    margin: 2rem 0;
    height: 900px;
}

.relatos h2 {
    color: #000000;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 50px;
}

.relatos .relatos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
}

.relatos .relato {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0  15px 40px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.relatos .relato img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.relatos .relato .texto-relato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.relatos .relato p {
    margin: 0.25rem 0;
    overflow: visible;
    text-overflow: clip;
    display: block;
}

.contato {
    padding: 2rem;
    background-image: url('/imagens/fotoPassaporte.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    color: #fff;
}

.contato h2 {
    color: #000000;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 50px;
}

.contato-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.formulario {
    flex: 1;
    max-width: 700px;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-top: 100px;
}

.contato input,
.contato textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.contato input:focus,
.contato textarea:focus {
    border-color: #ff0000;
    outline: none;
}

.contato input:not(:focus),
.contato textarea:not(:focus) {
    border-color: #000000;
}

.contato input::placeholder,
.contato textarea::placeholder {
    color: #000000;
}

.contato button {
    background-color: #F2B700;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contato button:hover {
    background-color: #000000;
    transform: scale(1.05);
}

.informacoes-loja {
    color: rgb(0, 0, 0);
}

.informacoes-loja h3 {
    margin-bottom: 1rem;
}

.info-item {
    display: flex;
    align-items: left;
    color: #000000;
    padding: 0px;
}

.info-item i {
    font-size: 1.5rem;
    margin-right: 0.75rem;
}

.info-item p {
    margin: 0;
    font-size: 1rem;
}

footer {
    color: #000000;
    padding: 2rem 1rem;
    background-color: #f9f9f9;
}

footer .footer-content {
    text-align: center;
}

footer .footer-content .social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

footer .footer-content .social-media a {
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
}

footer .footer-content .social-media a:hover {
    color: #F2B700;
}

footer .footer-content .contact-info {
    margin-top: 1rem;
}

footer .footer-content .contact-info p {
    margin: 0.5rem 0;
}

input:focus,
textarea:focus {
    border-color: #03390b;
}

input:not(:focus),
textarea:not(:focus) {
    border-color: #000000;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 100 100px 800px rgba(1, 250, 113, 0.2);
    text-decoration: none;
    font-size: 2rem;
}

.whatsapp-button:hover {
    background-color: #5fb479;
    transform: scale(1.05);
}

.whatsapp-button i {
    margin: 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        top: 80px;
        left: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        align-items: center;
        padding: 1rem 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #ffffff;
        position: absolute;
        top: 80px;
        left: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 999;
    }

    nav ul li {
        margin: 1rem 0;
    }

    .banner {
        height: 50vh;
        padding: 0 1rem;
        text-align: center;
    }

    .banner-content {
        margin-left: 0;
        margin-right: 0;
    }

    .company-name {
        font-size: 2.5rem;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .banner-text {
        font-size: 0.875rem;
        margin-left: 0;
    }

    .sobre-nos {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        height: auto;
    }

    .sobre-nos .foto-colaboradores {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .sobre-nos .foto-colaboradores img {
        width: 100%;
        height: auto;
    }

    .sobre-nos .texto-sobre-nos {
        margin-right: 0;
        max-width: 100%;
    }

    .topicos {
        height: auto;
        padding: 1rem;
    }

    .topicos .topico {
        width: 100%;
        margin-top: 1rem;
    }

    .colaboradores {
        height: auto;
        padding: 1rem;
    }

    .colaboradores .colaborador {
        width: 100%;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .relatos {
        height: auto;
        padding: 1rem;
    }

    .relatos .relato {
        width: 100%;
        height: auto;
    }

    .contato {
        height: auto;
        padding: 1rem;
    }

    .formulario {
        max-width: 100%;
    }
}

.parceria {
    padding: 2rem;
    background-color: #ffffff;
    text-align: center;
    margin: 2rem 0;
    height: 600px;
}

.parceria-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 5rem;
}

.parceiro-titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
    text-align: left;
}

.parceria-topicos {
    text-align: left;
    margin-bottom: 1.5rem;
}

.parceria-topicos ul {
    list-style-type: disc;
    padding-left: 2rem;
    margin: 0;
}

.parceria-topicos ul li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #555;
    line-height: 1.5;
}

.parceria-botao {
    margin-top: 1rem;
    align-self: flex-end;
}

.botao-parceria {
    display: inline-block;
    background-color: #F2B700;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.botao-parceria:hover {
    background-color: #000000;
    transform: scale(1.05);
}